canvas
{
	border: 1px solid black;
	background-color: white;
}

input[type=color]
{
	width: 20px;
	height: 20px;
}

.node-editor
{
	margin: auto;
	//border: 2px solid black;
	//border-radius: 5px;
   	padding: 10px;
}

.modal
{
	display: none;
	position: fixed;
   	top: 50%;
   	left: 50%;
   	width: 50%;
   	height: 50%;
   	border: 2px solid black;
   	border-radius: 5px;
   	padding: 10px;
   	background-color: white;
   	transform: translate(-50%, -50%);
}

.modal > h1
{
	margin: 0;
	text-align: center;
}

.modal > button
{
	position: absolute;
	top: 10px;
	right: 10px;
}

.tools
{

	height: 80%;
	overflow-y: scroll;
}

.tools > button
{
	margin: 5px;
	width: 32%;
}

.node
{
	
	display: inline-block;
	border: 2px solid black;
	padding: 5px;
	box-shadow: 5px 5px 5px gray;
	vertical-align: top;
}

.node-out
{
	left: 100px;
	display: inline-block;
	vertical-align: top;
	transform: translateX(-2px);
}

.node-out > *
{
	margin: auto;
	display: block;
}

.node > *
{
	margin: auto;
	display: block;
	margin-top: 5px;
}

.node > input
{
	width: 100px;
}

.node > h3
{
	text-align: center;
	margin: 0;
}

.node > p
{
	margin: 0;
}

.add-button
{
	margin: 0;
	border: 2px solid black;
	background-color: lightgreen;
}

/* Colors  */
.orange
{
	background-color: orange;
}

.gray
{
	background-color: gray;
}

.yellow
{
	background-color: yellow;
}
